<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- left  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="rohansingh" class="img-fluid" title="image">
                        </figure>
                    </div>

                    <!-- right  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To Our App</p>
                        <h1>We are <span class="header_left_text">Minion</span> Army</h1>
                        <a href="/not found"><button>About Us</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->
    {{>footer}}
</body>

</html>