<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                {{!-- form  --}}
                <div class="main_content">
                    <form action="" class="temp_form">
                        <input type="text" id="city" placeholder="Enter city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>     
    
                {{!-- temp info  --}}
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date">5 MAY</p>
                      </div>
                      <div class="main_layer">
                          <p id="city_name"> Get Your Output</p>
                          <div class="middle_layer data_hide">
                              <p id="temp"><span id="temp_value">0</span><sup>o</sup>C</p>
                              <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i> </p>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->
    {{>footer}}

    <script src="js/main.js"></script>
</body>

</html>